$btn-color:$green;
$btn-alt-color:transparent;
%button {
  position: relative;
  -webkit-font-smoothing: antialiased;
  border-radius: $base-border-radius;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: 700;
  line-height: normal;
  padding: 0.75em 1em;
  text-decoration: none;
  @include transition(background 0.1s linear);
  text-align: center;
  &:hover {
    color: white;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  &:after {
    content: '';
  }
}



.btn {
  @extend %button;
  background-color: $base-accent-color;
  color: $white;
  &:focus,
  &:hover {
    background-color: $hover-link-color;
  }
}

.btn-alt {
  @extend %button;
  background-color: $hover-link-color;
  color: $white;
  &:focus,
  &:hover {
    background-color: $base-accent-color;
  }
}

.btn-color {
  @extend %button;
  background-color: $white;
  border:2px solid $white;
  color: $black;
  &:focus,
  &:hover {
    background-color: transparent;
    color: $white;
  }
}

.btn-color-alt {
  @extend %button;
  border:2px solid $white;
  background-color: transparent;
  color: $white;
  &:focus,
  &:hover {
    background-color: $white;
    color: $black;
  }
}

.button,
.wp-element-button,
button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &:focus:not(:hover):not(:active) {
    outline: 2px dashed red;
    outline-offset: -1px;
  }
}

p {
  .button,
  button,
  input[type="submit"],
  .btn,
  .btn-alt {
    font-size: em(16, 16);
  }
}

//Icon Buttons
%btn-ico {
  @extend %button;
  padding-right: 4em;
  &:after {
    content: '';
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    width: 3em;
    position: absolute;
    background-position: center center;
    background-size: 1.5em;
    background-repeat: no-repeat;
    @include transition(background 0.1s linear);
  }
  &:hover {
    &:after {
      background-size: 2em;
    }
  }
}

.btn-download {
  @extend %btn-ico;
  @extend %button;
  &:after {
    background-image: url(img/ico-download.svg);
  }
}

.btn-alt-download {
  @extend %btn-ico;
  @extend .btn-alt;
  &:after {
    background-image: url(img/ico-download.svg);
  }
}

.btn-arrow {
  @extend %btn-ico;
  @extend %button;
  &:after {
    background-image: url(img/ico-white-arrow-right.svg);
  }
}

.btn-alt-arrow {
  @extend %btn-ico;
  @extend .btn-alt;
  &:after {
    background-image: url(img/ico-white-arrow-right.svg);
  }
}


/*========= Additional Button Style ========*/
.btn-wrap {
  @include mq(medium){
    @include display(flex);
    @include align-items(center);
    @include flex-wrap(wrap);
  }
}

.btn-wrap-wo-bg{
    display: block;
    margin-bottom: em(24);
    &:last-child{
      margin:0;
    }
    > a:not(:first-child) {
      margin-left: em(15);
      margin-right: em(15);
    }
    @include mq(medium){
      display: inline-block;
    }
}

.btn-wrap-bg {
  max-width: 100%;
  background: $dark-gray;
  min-width: em(350);
  padding: em(14) em(16);
  text-align: center;

  > a {
    min-width: em(240);
    max-width: 100%;
    display: table;
    margin: 0 auto;
  }

  > a:not(:last-child) {
    margin-bottom: em(15);
  }
}