.site-wrap {
  background: $white;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  @include display(flex); //sticky footer
  @include flex-direction(column); //sticky footer
  min-height: 100%; //sticky footer
}

/*=============== ADA Complaince styling ===================*/
#skipToContent {
  position: fixed;
  z-index: 0;
  top: 10px;
  left: 10px;
  opacity: 0;
  &:focus {
    opacity: 1;
    z-index: 99999;
  }
}


.social-wrap a,
a[class*="sh-ico-"],
.sh-ph,
.sh-email,
.site-nav a {
    &:focus:not(:hover):not(:active) {
      outline-offset: -2px;
    }
    &.tse-remove-border {
      &:focus:not(:hover):not(:active) {
        outline: none;
        outline-offset: 0;
      }
    }
}

.nonlink {
  cursor: default;
  pointer-events: auto;
  @include mq(large) {
    pointer-events: none;
  }
}

.lightbox {
  display: inline-block;
  &.tse-remove-border {
    outline: none !important;
    &:focus {
      outline: none !important;
    }
  }
}

.tse-remove-border {
  outline: none !important;
  &:focus {
    outline: none !important;
  }
}

.remove-br{
  outline: none !important;
}

#siteContentFocusable{
  outline: none !important;
}

.mfp-zoom-out-cur, .mfp-helper{
  .sh-sticky-wrap.stuck, .anchor-links-nav.stuck, .inline-btns.stuck,.internal-links-nav.stuck,{
    width: calc(100% - 17px);
  }
  #back-to-top{
    right: em(67,20);
  }
}

.no-touch {
 &.mfg-popup-open {
   margin-right: 17px;
   .sh-sticky-wrap.stuck {
     padding-right: 17px;
   }
   .anchor-links-nav.stuck{
      padding-right: 17px;
   }
   .search-module{
    z-index: 999;
    width: calc(100% - 17px);
  }
 }
}

.popup-youtube {
  position: relative;
  display: inline-block;
  img{
    display: block;
  }
  &:after{
    content: '';
    width: em(50);
    height: em(50);
    background-image: url(img/youtube-icon-red.svg);
    background-size: em(50) auto;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &:hover,
  &:focus{
    &:after{
      background-image: url(img/youtube-icon-gray.svg);
    }
  }
}

.popup-mp4 {
  position: relative;
  display: inline-block;
  img{
    display: block;
  }
  &:after{
    content: '';
    width: em(50);
    height: em(50);
    background-image: url(img/ico-play.svg);
    background-size: em(50) auto;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &:hover,
  &:focus{
    &:after{
      opacity:0.7;
    }
  }
}



/*=============== Site Header ===============*/
.site-header-wrap {
  background-image:url(img/bg-site-intro.jpg);
  background-size:cover;
  background-position: center center;
  background-repeat:no-repeat;
}
.site-header {
  
}

.sh-top-nav{
  @include mq(large) {
    .inner-wrap{
      display: flex;
      justify-content: space-between;
      &:after{
        display:none;
      }
    }
  }
}

.sh-sticky-wrap {
    .inner-wrap{
      padding-top: 0;
      padding-bottom: 0;
    }
  @include mq(large) {
    background-color: $nav-background;
    height: $nav-height;
    &.stuck {      
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: 9;
    }
  }
}

.sh-utility-nav {
  background-color: $nav-background;
  display: flex;
  justify-content: space-between;
  position: relative;
  &:before{
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: $nav-background;
  }
  &:after{
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -100%;
    background-color: $nav-background;
  }
  @include mq(large) {
    background-color: transparent;
    display: block;
    &:before{
      content:none;
    }
    &:after{
      content:none;
    }
  }
}

.site-logo{
  display: table;
  margin: 0 auto;
  margin-bottom: em(40);
  @include mq(large) {
    display: inline-block;
    margin: 0;
  }
}

.site-search {}

//Site Header Icons
.sh-icons {
  float: right;
  @include mq(medium) {}
}

%sh-ico {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1em auto;
  display: inline-block;
  padding-left: 1.2em;
  width: 2em;
  height: 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  span{
    display: none;
  }
  @include mq(large) {
    width: auto;
    height: auto;
    background-position: center left;
    margin-left: 1em;
    span{
      display: inline-block;
    }
  }
}

.sh-email {
  background-image: url(img/ico-email.svg);
  @extend %sh-ico;
}

.sh-ph {
  background-image: url(img/ico-ph.svg);
  @extend %sh-ico;
}

.sh-ico-search {
  background-image: url(img/ico-search.svg);
  @extend %sh-ico;
}

.sh-ico-menu {
  background-image: url(img/ico-nav.svg);
  @extend %sh-ico;
  @include mq(large) {
    display: none;
  }
}

/*=============== Site Intro ===============*/
.site-intro {
  text-align:center;
  background-size: cover;
  background-position: center;
  position: relative;
  .inner-wrap {
    padding-top:$baseline*20;
    padding-bottom:$baseline*20;
  }
}

.si-static-cont-pos {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 100%;
}
.si-slider{
  line-height: 0;
  &.slick-slider{
    margin-bottom: 0 !important;
  }
  .slick-prev, .slick-next{
    display: none !important;
  }
  .slick-slide{
    overflow: hidden;
  }
  .slick-current{
    .si-bg-img{
      transform: scale(1);
    }
  }
  .slick-dots{
    bottom: em(25);
    position: absolute;  
    left:0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 1;
    li{
      margin: 0;
      margin-right: em(14);
      width: 12px;
      height: 12px; 
      display: inline-block;   
      outline: none;
      &:focus{
        outline:none;
      }  
      button{
        width: 12px;
        height: 12px;  
        background-color: transparent;
        border: 1px solid $base-link-color;
        border-radius: 50%;
        outline: none;
        font-size: 0;
        outline: none;
        &:before, &:after{
          display:none;
        }         
        &:focus{
          outline: none;
        }
        &:focus:not(:hover):not(:active) {
          outline: 2px dashed $base-font-color;;
          outline-offset: 2px;
        }
      }
      &.slick-active{
        button{
          background-color: $base-link-color;
          border: 1px solid $base-link-color;
          &:focus{
            outline: none;
          }
          &:focus:not(:hover):not(:active) {
            outline: 2px dashed $base-font-color;;
            outline-offset: 2px;
          }
        }
      }
    }    
  }
}

.si-item{
  position: relative;
  background-size: cover;
  background-position: center;
  min-height: em(481);
}


.si-content{
  position: relative;
}

/*=============== Site Content ===============*/

//Layout formatting is in patterns.scss
.site-content {
  @include flex(1 0 auto); //sticky footer
}

.site-content-primary {}

.site-content-secondary {}


/*============ Sitemap Page styling ============*/
.sitemap-menu .sub-menu {
    padding-left: em(30);
    display: block !important;
}


/*=============== Site Footer ===============*/

.site-footer {
  background-color: $blue;
  text-align: center;
  color: $white;
}

.sf-small {
  background-color: $medium-gray;
  text-align: center;
  .inner-wrap {
    padding-top: $baseline*2;
    padding-bottom: $baseline*2;
  }
}
.sf-copy{
  color: $white;
  a{
    color: $white;
    &:hover,
    &:focus{
      color: $hover-link-color;
    }
  }
}

//This removes the blank space Webtrax adds to the footer
img[name=pphLoggerImage] {
  display: none;
}


/*=============== Search ===============*/
.search-table {
  display: table;
  width: 100%;
  float: right;
  padding: 0;
}

.search-row {
  display: table-row;
  width: 100%;
}

.search-cell1 {
  display: table-cell;
  vertical-align: middle;
}

.search-cell2 {
  display: table-cell;
  width: 60px;
  border: 0;
  vertical-align: middle;
  text-align: center;
}

.search-cell3 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 25px;
}

.search-text {
  font-size: .8em;
  width: 100%;
  height: 40px;
  border: 1px solid red;
  float: left;
  padding-left: .5em;
  margin-bottom: 0 !important;
  &:hover{
    height: 40px;
  }
  &:focus{
    border:0;
    box-shadow: none !important;
  }
}

.search-submit {
  width: 40px;
  height: 40px;
  border: 0;
  padding:0 !important;
  background: url(img/ico-search.svg) no-repeat center center !important;
  background-size: 25px !important;
  transform: none !important;
  border:0 !important;
  border-radius: 0;
  &:hover{
    opacity:0.8;
  }
  &:focus{
    outline:none;
    opacity:0.8;
  }
  &:focus:not(:hover):not(:active) {
    border-radius: 0;
  }
}




.search-module {
  background-color: $base-color;
  /*height: em(70);*/
  margin-top: em(-70);
  border-bottom: 1px solid rgba(0, 0, 0, 0.47);
  position: fixed;
  left:0;
  right:0;
  z-index: 999;
  visibility: hidden;
   top: 0;
  @include transition (all .2s ease-in-out);
  &.active {
    margin-top: 0;
        visibility: visible;
        top: 0;
  }
  .inner-wrap {
    padding: em(12) 1.5em;
  }
}

.search-exit {
  width: 25px;
  height: 21px;
  background-image: url(img/ico-exit.svg);
  background-repeat: no-repeat;
  background-size: 19px auto;
  background-position: center;
  display: block;
  img{
    display: none;
  }
  &:hover{
    opacity: 0.8;
  }
  &:focus{
    outline:none;
    opacity: 0.8;
  } 
  @include mq(large) {
    margin-bottom: 0px;
  }
}


/*=============== Read More ===============*/

.main-content {
  display: block;
  overflow: hidden;
  position: relative;
  @include mq(medium) {
    display: inline;
  }
}
@include mq(small) {
  .height {
    max-height: em(250);
    &:before {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
      bottom: 0;
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
  .heightAuto {
    max-height: em(5000);
    &:before {
      display: none;
    }
  }
}

.link {
  display: block;
  text-align: center;
  font-weight: bold;
  color: $blue;
  padding-bottom: em(10);
  @include mq(medium) {
    display: none;
  }
}

#back-to-top{
  font-size: em(20);
  position:fixed;
  bottom: em(50,20);
  right: em(50,20);
  z-index:9;
  width:em(40,20);
  height:em(40,20);
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $base-accent-color;
  border:solid 1px $white;
  color:$white;
  cursor:pointer;
  border-radius:50%;
  text-decoration:none;
  transition:opacity 0.2s ease-out;
  opacity:0;
  font-weight:bold;
  visibility: hidden;
  &:hover,&:focus{
    background-color:$hover-link-color;
    color: $white;
  }
  &.show{
    opacity:1;
    visibility: visible;
  }
}

.internal-links-nav{
  background-color: $base-accent-color;
  .inner-wrap{
    padding-top: 0;
    padding-bottom: 0;
  }
  @include mq(large){
    &.stuck{
      position: fixed;
      z-index: 8;
      left: 0;
      width: 100%;
      margin-top: 0;
    } 
  }
}

.internal-links-wrap{
  li{
    padding: em(10);
    > a{
      font-family: $header-font-family;
      font-size: em(20);
      text-decoration: none;
      color:$white;
      &:hover,
      &:focus{
        color:$white;
        text-decoration: underline;
      }
    }
    &.pillar-active{
        > a{
          font-weight: 700;
          text-decoration: underline;
        }
      }
  }
  @include mq(medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li{

    }
  }
}