// Inner Wrap

/*
This is used to separate sections/modules of the website while still keeping a consistent max-width. Example below:
<section class="about-module">
  <div class="inner-wrap">
    Content here...
  </div>
</section>
*/

.inner-wrap {
  @include outer-container;
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  @include pad($baseline*3 $baseline*2 $baseline*3 $baseline*2);
  @include mq(medium) {
    @include pad($baseline*5 $baseline*3 $baseline*5 $baseline*3);
  }
}

.inner-wrap-narrow {
  @extend .inner-wrap;
  max-width: em(1032);
}

.inner-wrap-wide {
  @extend .inner-wrap;
  max-width: em(1400);
}

.inner-wrap-fullwidth {
  @extend .inner-wrap;
  max-width: 100%;
}


/*=============== Sections ===============*/

.section-header-wrap {
  background-color: $light-gray;
  .inner-wrap {
    padding-top: $baseline*3;
    padding-bottom: $baseline*3;
  }
  h1 {
    margin: 0;
  }
  p {
    margin: .5em 0 0 0;
    @extend .emph;
  }
}

.section-cta {
  text-align: center;
}

.blockquote-text{
  color: $blue;
  font-weight: 600;
  position: relative;
  font-size: em(18);
  padding: 0 em(32,18) 0;
  margin-top: em(32,18);
  margin-bottom: em(32,18);
  &:before{
    position:absolute;
    content: '';
    top: 0;
    left: 0;
    width:em(8);
    height: 100%;
    background-color: $blue;
  }
  @include mq(medium){
    max-width: em(960,21);
    width: 100%;
    margin: auto;
    font-size: $medium-font-size;
    line-height: em(28,21);
    padding: 0 em(16,21) 0 em(45,21);
    margin-top: em(74,21);
    margin-bottom: em(74,21);
  }
}

/*================ Dest Slider ============= */

.innerpage-carousel {
  max-width: em(459);
  margin:0;
  .slider-for {
    margin-bottom: em(8);
    a {
      overflow: hidden;
      display: block;
      &:focus:not(:hover):not(:active) {
        outline-offset: -2px;
      }
    }
  }

  .slick-track {
    @include display(flex);
    @include align-items(center);
  }

  .slider-nav {
    .slick-list {
      margin-right: em(72);

      .slick-slide {
        margin-right: em(8);
        position: relative;
        line-height: 0;
        overflow: hidden;
        img {
          width: 100%;
        }

      }
    }

    .slick-arrow {
      font-size: em(20);
      height:em(25,20);
      width:em(25,20);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      overflow: hidden;
      min-width: inherit;
      background-color: $white;
      padding: 0;
      opacity: 1;
      &.slick-prev {
        display: none !important;
      }

      &.slick-next {
        right: em(24,20);
        display: inline-block !important;
        &:before {
          content: '';
          font-size: em(20,20);        
          display: inline-block;
          opacity: 1;
          width:100%;
          height:em(25,20);
          background-image:url(img/slider-arrow.png);         
          background-repeat: no-repeat;
          background-position: center center; 
          background-size: contain;
          background-size: em(12,20);
          @include transition(0.25s all linear);          
        }
        &:hover{
          border:0;
          &:before{
            width:100%;
            height:em(25,20);
            background-image:url(img/slider-arrow.png); 
            background-size: em(12,20);
          }
        }
      }
    }
  }
  @include mq(medium){
    padding-right: em(8);
  } 
}

.slider-nav-item{
  display: inline-block;
  &:focus:not(:hover):not(:active) {
    outline-offset: -2px;
  }
}

/*=============== Innerpage Carousel Widthout Thumb ===================*/
.innerpage-carousel-widthout-thumb {
  max-width: em(459);
  margin-top: em(32);
  .item a {
    display: block;
    &:focus:not(:hover):not(:active) {
      outline-offset: -2px;
    }
  }
  .slick-track {
    @include display(flex);
    @include align-items(center);
  }
  .slick-dots{    
    li{
      width: 9px;
      height: 9px;
      vertical-align: middle;
      button{
        font-size: 0;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        border: 1px solid $base-accent-color;
        padding: 0;
        &:before{
          display: none;
        }
      }
      &.slick-active{
        button{
          background-color: $base-accent-color;
          border: 0;
        }
      }
    }
  }
  @include mq(medium){
    padding-left: em(8);
    margin-top: 0;
  } 
}

/*=============== Accordion Tabs ===============*/

.accordion-tabs {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $base-link-color: $action-color !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $tab-border: 1px solid $blue;
  $tab-content-background: $gray;
  $tab-active-background: $blue;
  $tab-inactive-color: $blue;
  $tab-inactive-hover-color: darken($light-gray, 5);
  $tab-mode: $medium-screen;
  @include clearfix;
  line-height: 1.5;
  margin-bottom: $base-spacing;
  padding: 0 !important;
  border: 0;
  @include media(max-width $tab-mode) {
    border-radius: $base-border-radius;
  }
  @include mq(medium) {
    border: 0;
  }
  .tab-header-and-content {
    list-style: none;
    margin-bottom: 0;
    border-bottom: 1px solid rgba($white,0.3);
    &:after {
      display: none;
    }
    @include media($tab-mode) {
      display: inline;
    }
  }
  .tab-link {
    background-color: $base-accent-color;
    color: $white;
    display: block;    
    font-size: em(18);
    line-height: em(27,18);
    padding: em(13,18) em(25,18) em(14,18);
    text-decoration: none;
    border-bottom: 0;
    font-family: $header-font-family;
    vertical-align: bottom;
    @include media($tab-mode) {
      display: inline-block;
      border: 0;
    }
    &:focus {
      outline: none;
    }

    &:focus,
    &:hover,
    &.is-active {
      background-color: $hover-link-color;      
      @include media($tab-mode) {         
      }
    }
  }
  .tab-content {
    background: $light-gray;
    display: none;
    padding: em(24) em(20) em(30) em(30);
    width: 100%;
    @include margin-fix;
    @include media($tab-mode) {
      border-top-right-radius: $base-border-radius;
      float: left;
    }
    @include mq(medium) {
      margin-top: 0;
    }
  }
}

/*=============== Click to Expand ===============*/
.click-expand-module {
  .inner-wrap {
    padding-top: 0;
    padding-bottom: em(30);
  }
}

.click-expand {
  clear: both;
  border: 0;
  /*overflow: hidden;*/
  margin-bottom: $baseline*3;
  background-color: $light-gray;
  @include transition (all .2s ease-in-out);
  &.active {
    &:hover {
      background-color: $white;
      .ce-header {
        //color:$blue; 
      }
    }
    .ce-header {
      background-color: $hover-link-color;      
      &:after {
        background-image: url(img/ico-minus.svg);
      }
    }
    .ce-body {
      display: block;
      opacity: 1;
      @include animation(click-expand .5s 1);
      @include animation-fill-mode(backwards);
      @include animation-delay(.05s);
      padding: 0 12px $baseline*3 12px;
      display: block;
      @include margin-fix;
      padding: em(24) em(20) em(30) em(30);
    }
  }
  &:hover {
    background-color: $base-border-color;
    .ce-header {
      //color:$white;
    }
  }
}

.ce-header {
  position: relative;
  cursor: pointer;
  margin: 0;
  font-size: em(18);
  padding: em(16,18) em(50,18) em(16,18) em(16,18);
  background-color: $base-accent-color;
  color: $white;
  font-weight: 500;
  text-transform: none;
  &:after {
    content: "";
    background-image: url(img/ico-plus.svg);
    position: absolute;
    right: em(16,18);
    width: em(25,18);
    height: em(25,18);
    background-size:em(13,18) auto;
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover,
  &:focus {
    background-color: $hover-link-color;      
  }
  &:focus:not(:hover):not(:active) {
    outline: 2px dashed red;
    outline-offset: 2px;
  }
}

.ce-body {
  display: none;
  opacity: 0;
  background-color: $light-gray;
}

@include keyframes(click-expand) {
  from {
    //@include transform(scale(0));
    opacity: 0;
  }
  to {
    //@include transform(scale(1));
    opacity: 1;
  }
}

/*Full Width CTA Module*/
.fwc-module{
  background-color: $light-gray;
  text-align: center;
}

/*=============== Product Grid ===============*/

.product-grid {
  clear: both;
}

.product-grid-item {
  font-size: .875em;
  text-decoration: none;
  text-align: center;
  background-color: $white;
  padding: $baseline*2;
  border-bottom: $base-border;
  border-right: $base-border;
  overflow: hidden;
  display: block;
  @include transition (all .15s ease-in-out);
  &:hover {
    //background-color: $light-gray;
    border-bottom: 1px solid $dark-gray;
    border-right: 1px solid $dark-gray;
    .product-grid-item-img {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.07);
      -o-transform: scale(1.07);
      transform: scale(1.07);
    }
  }
  @include mq(medium) {
    font-size: .75em;
    margin-bottom: $baseline*3;
  }
  @include mq(large) {
    font-size: 1em;
  }
  @include mq(huge) {}
}

.product-grid-item-header-wrap {
  @include mq(medium) {
    height: 4em;
    line-height: 4em;
    margin-bottom: $baseline*2;
    .product-grid-item-header {
      display: inline-block;
      vertical-align: middle;
    }
  }
  @include mq(large) {
    height: 4em;
    line-height: 4em;
  }
}

.product-grid-item-header {
  font-size: em(18);
  color: $base-color;
  text-decoration: none;
  margin: 0 0 0 0;
  width: 70%;
  float: right;
  text-align: left;
  clear: none;
  @include mq(medium) {
    width: auto;
    float: none;
    text-align: center;
  }
}

.product-grid-item-subheader {
  color: $black;
  margin: 0 0 $baseline*2 0;
  width: 70%;
  float: right;
  text-align: left;
  clear: none;
  font-size: em(15);
  @include mq(medium) {
    width: auto;
    float: none;
    text-align: center;
  }
  @include mq(large) {
    min-height: $baseline*6;
  }
}

.product-grid-item-img {
  float: left;
  width: 25%;
  margin-top: -1em;
  display: block;
  margin: 0 auto;
  @include transition (all .15s ease-in-out);
  @include mq(medium) {
    margin-top: 0;
    float: none;
    width: auto;
  }
}

.product-grid-item-link {
  margin: $baseline*2 0 0 0;
  float: right;
  text-align: left;
  clear: none;
  @extend .btn;
  font-size: .75em;
  @include mq(medium) {
    //@extend .small-font-size;
    width: auto;
    float: none;
    text-align: center;
  }
}

/*============Side Navigation Test==============*/
.side-nav {
  
  width: 100%;
  overflow: hidden;
  h3 {
    margin-top: 0;
  }
  @include mq(medium) {
    max-width: em(240);
    width: 100%;
  }
}
.sn-nav {
  //border:solid 1px $dark-blue;
  //border-radius: 5px;
    //overflow: hidden;
  li {
    background-color:$base-accent-color;
    border-bottom: 1px solid rgba($white,0.5);
    position: relative;
    
    a {
     // font-family: $header-font-family;
      color: $white;
      display: block;
      font-size: em(18);
      //font-weight: 600;
      line-height: em(24,18);
      text-decoration: none;
      padding: em(11,18) em(40,18) em(11,18) em(16,18);
      &:focus:not(:hover):not(:active) {
        outline: 2px solid red;
        outline-offset: -2px;
      }
      &:hover,
      &:focus{
        background-color: $hover-link-color;
        color: $white;
      }
    }
 
    &.active{
      border-bottom: 0;
      background-color:$hover-link-color;
      > a{
        color: $white;
      }
      .m-subnav-arrows{
        transform: rotate(180deg);
      }

    }
    &:hover{
      > a{
        background-color: $hover-link-color;
        color: $white;
      }
      &.menu-item-has-children {
        .m-subnav-arrow {
          //transform: rotate(180deg);
          background-image: url(img/nav-down-arrow.svg);
        }
      }
    }
  }
  .menu-item-has-children {
    .m-subnav-arrow {
      cursor: pointer;
      padding-right: 0em;
      background-image: url(img/nav-down-arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: em(10,18) auto;
      display: block;
      width: em(40,18);
      height: em(46,18);
      //height: $nav-height;
      position: absolute;
      background-color: transparent;
      right: 0;
      top:2px;
      bottom: 0;
      &.active {
        transform: rotate(180deg);
        background-image: url(img/nav-down-arrow.svg);
      }
    }
    ul {
      margin-bottom: 0;
      padding:0;
      display: none;
      border-bottom: 1px solid $blue;
      border-top: 1px solid $blue;
      li {
        margin-bottom: 0;
        background-color:$light-gray;
        border-bottom: 0;
        a {
          //font-family: $header-font-family;
          color: $gray;
          font-size: em(18);
          padding: em(5,18) em(40,18) em(5,18) em(16,18);     
          line-height: em(26,18);
          text-transform: initial;
          position: relative;
          //font-weight: 600;
          &:hover{
            background-color: $base-accent-color;
            color: $white;
          }
          &:focus:not(:hover):not(:active) {
            background-color: $base-accent-color;
            outline-color: red;
            color: $white;
          }
        }
        &:not([class]) { 
          margin-bottom: 0;
          padding:0;
          &:after {
            display:none;
          }
        }
      }
      &:not([class]) {
        margin-bottom: 0;
      }
    }
    ul {
      &.active {
        display:block;
      }
    }
  }
}


/*=============== Product Carousel ===============*/

.product-item-wap {
  .product-items{
    > div{
      margin-bottom: em(20);
    }
  }
  @include mq(medium) {
    .product-items{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      > div{
        width: 48%;
      }
    }
  }
  @include mq(large) {
    .product-items{
      > div{
        width: 23%;
      }
    }
  }
}

.product-item {
  max-width: em(400);
  width: 100%;
  margin: 0 auto;
  display: block;
  &:hover,
  &:focus{
    .product-title{
      color: $hover-link-color;
    }
  }
  @include mq(medium) {
    max-width: inherit;
    width: auto;
    display: inline-block;
  }
}

.product-title{
  font-family: $header-font-family;
  font-size: $base-font-size;
  line-height: em(24);
  font-weight: 500;
  display: block;
  text-align: center;
  margin-top: em(10);
  color: $base-accent-color;
}



/*=============== Media Object ===============*/

.media-object {
  overflow: hidden;
}

.media-object-img {
  width: 20%;
  float: left;
  display: block;
  margin-right: 5%;
  img {
    width: 100%;
  }
}

.media-object-body {
  width: 75%;
  float: left;
}

.media-object-header {
  margin-top: 0;
  margin-bottom: .15em;
}

.media-grid-2 {
  > * {
    margin-bottom: $baseline*2;
  }
  @include mq(medium) {
    > * {
      @include span-columns(4.5 of 9);
      @include omega(2n);
      margin-bottom: $baseline*3;
    }
  }
}


/*======= Responsive iFrame / YouTube / HTML5 Video =======*/

.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-top: 1.8em;
  iframe, object, embed, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}



/*=============== Social Media Icons ===============*/

.social-wrap {
  overflow: hidden;
  a {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    path {
      @include transition (all .1s linear);
    }
    &:hover {
      opacity: .75;
      path {
        fill: $blue;
      }
    }
  }
  img {
    display: inline-block;
    margin: 0 auto;
    width: 1.1em;
    height: auto;
    vertical-align: middle;
  }
  svg {
    display: inline-block;
    vertical-align: middle;
  }
  /*span {
    background-color:$white;
    border-radius:3px;
    display:inline-block;
    padding:.15em;
    img {
      display:block;
      margin:0 auto;
    }
  }*/
}


/*=============== Slide Panel ===============*/

.slide-panel {
  display: none;
  position: fixed;
  background: $dark-gray;
  color: #fff;
  height: 100%;
  width: em(340);
  right: em(-340);
  top: 14%;
  z-index: 10;
  @include transition (right 0.4s ease-in-out);
  h2 {
    padding: .2em 1em;
  }
  p {
    background: $dark-gray;
    padding: .25px 2em;
  }
  label {
    color: $white !important;
  }
  &:hover {
    right: 0px;
  }
  @include mq(medium) {
    display: block;
  }
}

.slide-panel-button {
  position: absolute;
  top: 50px;
  right: 340px;
  padding: 20px 20px;
  background: $dark-gray;
  min-width: 200px;
}


/*=============== Slide Box ===============*/

#last {
  margin: 0;
  padding: 0;
}

#slidebox {
  padding: em(10) em(10) em(10) em(16);
  position: fixed;
  bottom: 0;
  right: em(-430);
  z-index: 1000;
  width: 100%;
  background-color: $base-color;
  @include mq(medium) {
    width: auto;
  }
}

a.close {
  //background: transparent url(http://cdn2.hubspot.net/hub/53/file-527841348-gif/close.gif?t=1402397452961) no-repeat top right;
  background-color: white;
  //background-color:rgba(255,255,255,.75);
  color: $blue;
  text-align: center;
  float: left;
  padding: 0 $baseline;
  font-size: em(11);
  border-radius: em(3);
  position: absolute;
  cursor: pointer;
  top: 1.5em;
  right: 2em;
  //display:none;
}

a.close:hover {
  background-color: rgba(255, 255, 255, .75);
}




/*=============== HubSpot Thumbnail Slider Gallery  ===============*/

.hs_cos_gallery_thumbnails {
  .hs_cos_gallery_slide {
    &:hover {
      cursor: pointer;
    }
  }
  img {
    height: em(60);
    object-fit: cover;
    border: 1px solid $base-border-color;
  }
  .slick-current {
    img {
      border: 1px solid $base-accent-color;
    }
  }
}

/*=============== Misc ===============*/

hr {
  display: block;
  clear: both;
}

figure {
  margin: 0;
  padding: 0;
}

.wp-pagenavi {
  > * {
    margin-right: .75em;
  }
}


/*=============== Lightbox / Magnific Popup  ===============*/

.white-popup {
  position: relative;
  background: $white;
  padding: 2.5em;
  width: auto;
  max-width: em(600);
  margin: em(20) auto;
  > * {
    margin-top: 0;
  }
}

.mfp-fade-side {
  .mfp-content, .white-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
  }
}


/* overlay at start */

.mfp-fade.mfp-bg {
  opacity: 0;
  @include transition (all .5s ease-in-out);
}


/* overlay animate in */

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}


/* overlay animate out */

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}


/* content at start */

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  @include transition (all .5s ease-in-out);
  @include transform(translateY(100px));
}


/* content animate it */

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  @include transform(translateY(0px));
}


/* content animate out */

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  @include transform(translateY(100px));
}


/*=============== Layouts  ===============*/

.page-intro {
  background-color: $light-gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: em(73);
  .inner-wrap {
    padding-top: $baseline*3;
    padding-bottom: $baseline*3;
  }
  h1 {
    margin: 0;
  }
  p {
    margin: .5em 0 0 0;
    @extend .emph;
  }
}

.breadcrumb-menu{
  a{
    color: $blue;
    font-size: em(14);
  }
  .breadcrumb_last{
    font-size: em(14);
  }
}

.page-id-9{
  .breadcrumb-menu{
    display: none;
  }
}

.site-content {
  @include mq(large) {
    &.one-column {
      .site-content-primary {
        @include span-columns(12 of 12);
        @include omega;
      }
      .site-content-secondary {
        @include span-columns(12 of 12);
        @include omega;
      }
      .additional-content {}
    }
    &.two-column {
      .site-content-primary {
        @include span-columns(9 of 12);
      }
      .site-content-secondary {
        @include span-columns(3 of 12);
        @include omega;
      }
      .additional-content {}
    }
    &.three-column {
      .site-content-primary {
        @include span-columns(4 of 12);
      }
      .site-content-secondary {
        @include span-columns(4 of 12);
      }
      .additional-content {
        @include span-columns(4 of 12);
        @include omega;
      }
    }
    &.two-column-alt {
      .site-content-primary {
        @include span-columns(8 of 12);
      }
      .site-content-secondary {
        @include span-columns(4 of 12);
        @include omega;
      }
      .additional-content {}
    }
  }
}

.destination{
  >.inner-wrap{
    padding-top: em(20);
    padding-bottom: 0;
  }
}




/*=============== Resources Module ===============*/

.resources-module {
  background-color: $white;
}

.rm-item-wrap {
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include mq(medium) {
    @include flex-wrap(nowrap);
  }
  > * {
    @include flex(auto);
    @include mq(medium) {
      @include flex(1);
    }
  }
}

.rm-item {
  text-align: center;
  //background-color: $light-gray;
  background-color: $light-gray;
  padding: 1em !important;
  &:hover {
    .rm-item-img {
      @include transform(scale(1.05));
    }
  }
  @include mq(medium) {
    margin-bottom: 0;
  }
}

.rm-item-cta {
  font-size: .75em;
  // padding: 0.5em 1em;
  font-weight: bold;
}

.rm-item-img {
  @include transition(all .15s ease-in-out);
  margin-bottom: $baseline*2;
  img {
    max-width: 100%;
    object-fit: contain;
    height: 19.375em;
  }
}

.rm-item-title {
  text-decoration: none;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  display: inline-block;
  text-align: center;
  //background-color:red;
  height: 2.5em;
  line-height: 2.5em;
  color: $base-color;
  position: relative;
  z-index: 10;
  span {
    line-height: 1.25em;
    display: inline-block;
    color: $base-color;
  }
  // &:after {
  //     content: '';
  //     position: relative;
  //     display:inline-block;
  //    // background-color:red;
  //     width: .75em;
  //     height:.75em;
  //     margin-left:.25em;
  //     background-position: center;
  //     background-repeat: no-repeat;
  //     background-image: url(http://cdn2.hubspot.net/hubfs/1793355/img/ico-arrow-blue.svg);
  //   }
}



/*Image Gallery Module*/
.image-gallery-module{
  text-align: center;

  .popup-gallery,
  .lightbox{
    margin-top: rem(20);
    margin-bottom: rem(20);
    line-height: 0;
    display: block;
    img{
      width: 100%;
    }
  }
}


/*========= Color Pallete ========*/

.cp-wrap{
  margin-top: em(28);
  margin-bottom: em(82);
  @include mq(medium){
    width: 100%;
    display: table;
  }
}

.cp-item{
  @include display(flex);
  @include align-items(center);
  margin-bottom: em(16);
  @include mq(medium){
    width: 50%;
    float: left;
  }
  @include mq(xlarge){
    width: 25%;
  }
}

.cp-color{
  width: em(90);
  height: em(90);
}

.cp-content{
  padding-left: em(29);
  span{
    display: block;
    font-size: em(18);
    line-height: em(32,18);    
    &.cp-title{
      
      font-weight: 700;
      color: $dark-gray;
      text-transform: inherit;
    }
  }
}

/*====== Typography =======*/
.typo-wrap{
  margin-top: em(40);
  @include mq(large){
    @include display(flex);
    @include align-items(center);
    > div{
      width: 33.33%;
    }
  }
}

.tw-title{
  font-size: em(18);
  margin-top: 0;
  span{
    color: #42464A;
    font-weight: 700;
    text-transform: inherit;
  }
}


/*====== Headign with BG =======*/

.heading-wrap{
  border-top: 1px solid $base-color;
  border-bottom: 1px solid $base-color;
  position: relative;
  .inner-wrap{
    padding-top: 0;
    padding-bottom: 0;
  }
  > * {
    position: relative;
    z-index: 1;
  }
  @include mq(medium){
    &:after{
      content:'';
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-color: $dark-gray;
    }
  }
}

.on-light-bg,
.on-color-bg{
  padding: em(24);
  margin-bottom: 0;
  p{
    &:last-of-type{
      margin-bottom:0;
    }
  }
  @include mq(medium){
    padding: em(35) 0;
  }
}

.on-color-bg{
  background-color: $dark-gray; 
  position: relative;
  margin-bottom: 0;
  &:before{
    content:'';
    width: 100%;
    height: 100%;
    background-color: $dark-gray;
    position: absolute;
    top: 0;
    left: -100%;
  }
  &:after{
    content:'';
    width: 100%;
    height: 100%;
    background-color: $dark-gray;
    position: absolute;
    top: 0;
    right: -100%;
  }
  *{
    color: $white; 
  }
  @include mq(medium){
    padding-left: em(24);
    margin-bottom: 0;
    &:before{
      display:none;
    }
    &:after{
      display:none;
    }
  }

}

.hw-txt{
  @include mq(large){
    max-width: em(456);
    width: 100%;
  }
}

/*====== Icon Navigation =======*/
.icn-nav{
  @include display(flex);
  @include justify-content(space-around);
  @include flex-wrap(wrap);
  @include mq(large){
    @include justify-content(space-between);    
  }
}

.in-item{
  text-align: center;
  min-width: em(100);
  margin-bottom: em(16);
  @include mq(large){
    min-width: inherit;
  }
}

.in-img{
  display: block;
  width: em(68);
  margin: auto;
  margin-bottom: em(15);
  height: em(68);
  border: 1px solid $base-color;
  text-align: center;
  position: relative;
  figure{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin:0 auto;
  }
  img{
    width: auto;
    margin: auto;
    max-height: em(18);
    vertical-align: middle;
  }
}


.internal-page-cta-module{
  text-align: center;
  .inner-wrap{
    position: relative;
    padding-top: em(71);
    padding-bottom: em(66);
  }
  @include mq(xlarge) {
    text-align: left;
    .inner-wrap{
      @include display(flex);
      @include align-items(center);
      @include justify-content(space-between);
      &:after{
        display:none;
      }
    }
    .hfwc-heading{
      margin-bottom: 0;
    }
  }
}


.patterns-and-modules-test{
  .internal-page-cta-module{
    .inner-wrap{
      padding-top: em(20);
    }
  }
}

.blog-listing-row{
  margin-bottom: em(30);
  padding-bottom: em(30);
  border-bottom: solid 1px $light-gray;
  @include mq(large) {
    &:last-child{
      margin-bottom:0;
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.blog-page-list-img{
  max-width: em(300);
  width: 100%;
  margin: 0 auto;
  display: block;
  margin-bottom: em(20);
  > a{
    display: inline-block;
    img{
      display: block;
    }
  }
  @include mq(medium) {
    max-width: inherit;
    width: 100%;
    margin: 0;
  }
}

.prev-next-post{
  .inner-wrap{
    padding-top: 0;
    text-align: center;
    > span{
      width: 100%;
      display: block;
      > a{
        > span{
          display: block;
        }
      }
    }
  }
  @include mq(medium) {
    .inner-wrap{
      display: flex;
      &:after{
        display:none;
      }
      > span{
        width: 50%;
        flex-grow: 1;
        flex-basis: 0;
        &.prev-post{
          text-align: left;
        }
        &.next-post{
          text-align: right;
        }
      }
    }
  }
}

.post-navigation{
  .nav-links{
    padding: em(40) 0;
    /*text-align: center;*/
    div{
      a{
        > span{
          &:first-child{
            display:table;
          }
        }
      }
    }
  }
  @include mq(medium) {
    .nav-links{
      display: flex;
      > div{
        width: 50%;
        flex-grow: 1;
        flex-basis: 0;
        &.nav-next{
          text-align: right;
          a{
            > span{
              &:first-child{
               margin-left:auto;
              }
            }
          }
        }
        &.nav-previous{
          text-align: left ;
        }
      }
    }
  }
}

.tablepress{
  white-space: nowrap;
}

.dbpm-buckets-wrap {
    @include mq(medium) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin: 0 em(-15);
    }
}

.dbpm-buckets {
  max-width: em(350);
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: em(30);
    @include mq(medium) {
      max-width: inherit;
      width: 50%;
      padding: 0 em(15);
      text-align: left;
    }
    @include mq(large) {
      width: 33.33%;
    }
}

.dbpm-image{
  margin-bottom: em(10);
  img{
    display: block;
  }
}